# Server
SERVER_PORT=8080
BASE_URL=http://localhost:8080

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=goshort
POSTGRES_PASSWORD=goshort_secret
POSTGRES_DB=goshort

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# URL Settings
SHORT_CODE_LENGTH=7
